* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EEEEEE;
}

.gallery {
    max-width: 1200px;
    margin: 60px auto;
}

.gallery ul,
.gallery ul li {
    display: flex;
}

.gallery ul {
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery ul li {
    list-style: none;
    border: 8px solid black;
    padding: 25px;
    margin: 15px 0;
    background: white;
    align-items: center;
    box-shadow: 14px 14px 21px -11px black;
}