<h1>Book Catalog</h1>
<a class="create-link" href="/catalog/create">Create Book</a>
{{#if books}}
<ul>
    {{#each books}}
    {{> book}}
    {{/each}}
</ul>
{{else}}
<br><p class="info">No books in database.</p>
{{/if}}